* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Special Gothic Expanded One", sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #1c1f26 0%, #203a4c 100%);
    background-attachment: fixed;
    overflow-x: hidden;
}