@import url('./reset.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./other.css');
@import url('./responsive.css');

@import url('./sections/title.css');
@import url('./sections/present.css');
@import url('./sections/skills.css');
@import url('./sections/projects.css');
@import url('./sections/skills.css');
@import url('./sections/contact.css');

@import url('./anim.css');


/* Liste des technos */
/* .tech-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    margin: 0 0 20px 0;
    list-style: none;
}

.tech-list li {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.9rem;
    background: rgba(58, 245, 242, 0.15);
    color: #e0f7fa;
    border: 1px solid rgba(58, 245, 242, 0.3);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease;
}

.card:hover .tech-list li {
    background: rgba(58, 245, 242, 0.25);
    transform: translateY(-3px);
} */




